<!-- First page -->
<div class="background-first section">
  <div class="container-bg">
    <h1></h1>
    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
      <path d="M0,172v-172h172v172z" fill="none"></path>
      <g fill="#eeeeee">
        <path d="M143.19336,21.43001c-0.26705,0.00844 -0.53341,0.03181 -0.79785,0.06999h-34.89551c-2.58456,-0.03655 -4.98858,1.32136 -6.29153,3.55376c-1.30295,2.2324 -1.30295,4.99342 0,7.22582c1.30295,2.2324 3.70697,3.59031 6.29153,3.55376h18.53256l-66.59961,66.59961c-1.8722,1.79752 -2.62637,4.46674 -1.97164,6.97823c0.65473,2.51149 2.61604,4.4728 5.12753,5.12753c2.51149,0.65473 5.18071,-0.09944 6.97823,-1.97165l66.59961,-66.59961v18.53255c-0.03655,2.58456 1.32136,4.98858 3.55376,6.29153c2.2324,1.30295 4.99342,1.30295 7.22582,0c2.2324,-1.30295 3.59031,-3.70697 3.55376,-6.29153v-34.9235c0.28889,-2.08845 -0.35639,-4.19816 -1.76411,-5.76769c-1.40772,-1.56953 -3.43507,-2.43964 -5.54253,-2.3788zM35.83333,21.5c-7.83362,0 -14.33333,6.49972 -14.33333,14.33333v100.33333c0,7.83362 6.49972,14.33333 14.33333,14.33333h100.33333c7.83362,0 14.33333,-6.49972 14.33333,-14.33333v-43c0.03655,-2.58456 -1.32136,-4.98858 -3.55376,-6.29153c-2.2324,-1.30295 -4.99342,-1.30295 -7.22582,0c-2.2324,1.30295 -3.59031,3.70697 -3.55376,6.29153v43h-100.33333v-100.33333h43c2.58456,0.03655 4.98858,-1.32136 6.29153,-3.55376c1.30295,-2.2324 1.30295,-4.99342 0,-7.22582c-1.30295,-2.2324 -3.70697,-3.59031 -6.29153,-3.55376z"></path>
      </g>
    </g>
  </div>


  <div class="container">
    <div class="infos-name section">
      <%= image_tag("logo_portfolio.png", class:"logo") %>
      <p class="fullname">DUBERNARD LUCAS</p>
      <p class="description">Developpeur web Full Stack (Back and Front)</p>
      <div class="typed-div">
        <p class="typed-text"></p>
      </div>
      <a href="#skills"><i class="fas fa-angle-double-down"></i></a>
    </div>
  </div>
</div>


<!-- Skills -->

<div id="skills" class="section">
  <div class="container">
    <p class="title">Competences</p>
    <div class="center-list">
      <ul class="skill-list">
        <li>x Ruby / Framwork : OnRails</li>
        <li>x JavaScript</li>
        <li>x HTML</li>
        <li>x CSS</li>
        <li>x SQL / Postgre</li>
        <li>x JQuery</li>
        <li>x GitHub</li>
        <li>x Using API</li>
        <li>x Bootstrap</li>
        <li>x Heroku</li>
      </ul>
    </div>
    <a href="#formation">
      <p class="arrow"><i class="fas fa-angle-double-down p2"></i></p>
    </a>
  </div>
</div>

<!-- Formation -->

<div id="formation">
  <div class="container">
    <p class="title">Formation</p>

    <div class="logo-wagon-div">
      <%= image_tag("logo-ub.png", class:"logo-wagon mb-4") %>
    </div>
    <p class="text-formation">Jusqu'en 2019 j'ai d'abord fais une licence Administration Economique et Sociale (double compétences droit et économie) puis deux master 1 en droit. En 2018, un master 1 droit du travail et de la protection sociale, puis en 2019 un master 1 en droit privé général. Ces années de fac ont développer mon autonomie et ma faculté d'apréhender des concepts théoriques. Le droit m'a beaucoup interessé néanmoins j'ai très vite été attiré par le monde de la tech et plus précisemment du développement web.</p>


    <div class="logo-wagon-div">
      <%= image_tag("logo-wagon.png", class:"logo-wagon") %>
    </div>
    <p class="text-formation">J'ai suivi une formation intensive de 10 semaines (octobre à décembre 2019) au <a href="https://www.lewagon.com/" target="_blank">Wagon</a> Bordeaux. J'ai appris le langage Ruby pour le back-end et les langages JavaScript, HTML et CSS pour le front-end. J'ai également travaillé avec des outils que les développeurs utilisent tels que GitHub, SQL, Heroku et bien d'autres. Mais j'ai surtout pu apprendre une méthode de travail efficace aussi bien pour le développeur que pour le client. Je continue à apprendre de nouvelles technologies chaque jour et à améliorer mes compétences. Au cours de cette formation, j'ai pu réaliser des projets de groupe du début à la fin. Vous pouvez retrouver ces projets sur cette page: suivez les flèches!</p>
    <a href="#projects">
      <p class="arrow"><i class="fas fa-angle-double-down p2"></i></p>
    </a>
  </div>
</div>

<!-- Projects -->

<div id="projects">
  <div class="container">
    <p class="title">Projets</p>
    <p class="advice">
      Conseil: ces applications sont responsives mais elles ont été développées selon le modèle "mobile first". Donc pour une meilleure expérience nous vous conseillons de consulter ses applications au format mobile. <br> Les applications sont hébergées sur un serveur Heroku, il peut y avoir un temps de chargement de 20 secondes.
       <br>
       Vous pouvez créer un compte ou vous connecter avec les identifiants suivants: <br> Email: lucas@gmail.com <br> Mot de passe: azerty <br>
    </p>
    <div class="row">
      <div class="web-site loue col-sm">
        <div class="img-opacity">
          <a href="https://loue-mon-conjoint.herokuapp.com/" target="_blank">
            <div class="title-project">
            <%= image_tag("LMC-logo.png") %>
            </div>
            <p class="content-project">
            Pour ce premier projet de groupe, nous avons décidé de créer une «marketplace», comme Airbnb ou LeBonCoin. C'était un exercice donc le sujet n'était pas important. Mais techniquement, nous avons appris à permettre aux utilisateurs de créer des offres, d'accepter ou de refuser des demandes, de consulter des annonces et de les réserver. De plus, il existe un système d'identification pour les utilisateurs. Vous remarquerez également l'utilisation d'API et en particulier celle de Google Map.</p>
          </a>
        </div>
      </div>

      <div class="web-site flash-wine col-sm">
        <div class="img-opacity">
          <a href="https://loue-mon-conjoint.herokuapp.com/" target="_blank">
            <div class="title-project logo-fw">
            <%= image_tag("logo_fw.png") %>
            </div>
            <p class="content-project">
            Pour ce second projet, toujours réalisé en groupe nous avons developper une application pour permettre d'apprendre le vin rapidement et facilement. Nous avons donc travailler pour "gamifier" l'apprentissage du vin. J'ai notamment travailler personnellement sur la partie "quiz" de l'application. Comme précedemment l'utilisateur détient un compte. Il peut également consulter des cours, faire des quiz et gagner de l'éxpérience en fonction de ses résultats. L'utilisateur peut également, commenter, noter des vins ainsi que les partager avec un réseau d'amis qu'il aura développer.</p>
          </a>
        </div>
      </div>
    </div>

    <a href="#contact">
      <p class="arrow"><i class="fas fa-angle-double-down p2"></i></p>
    </a>
  </div>
</div>

<!-- About me -->

<div id="contact" class="section">
  <div class="container">
    <p class="title">Contact</p>
    <div class="content-contact">
      <p class="text-formation">
        <div class="list-contact">
          <p class="mb-5">Pour parler d'un projet ou demander un devis me contacter par mail.</p>
          <p class="item-conatct"><i class="fas fa-envelope-open-text icones"></i><br>lucas.dubernard@hotmail.fr</p>
          <p><i class="fas fa-mobile-alt icones"></i><br>06.99.00.28.60</p>
          <p><a href="https://github.com/DubernardL" style="color: #5E5E5E;" target="blank"><i class="fab fa-github icones"></i><br>DubernardL</a></p>
          <p><a href="https://www.linkedin.com/in/lucas-dubernard-bb6721196/" style="color: #5E5E5E;" target="blank"><i class="fab fa-linkedin icones"></i><br>Dubernard Lucas</a></p>
        </div>
      </p>
    </div>
  </div>
</div>
