<!-- First page -->
<div class="img-first">
  <div class="container container-first" >
    <div class="div-logo">
      <%= image_tag("logo_portfolio2.png", class:"logo") %>
    </div>

    <div>
      <div class="fullname">Lucas Dubernard</div>
      <div class="description">Développeur web Full Stack</div>
      <div class="typed-div">
        <div class="typed-text"></div>
      </div>
    </div>

    <div class="btn-top">
      <a href="#contact" class="btn">Contact</a>
      <a href="#projects" class="btn">Projets</a>
    </div>

    <a href="#skills" class="first-arrow">
      <i class="fas fa-angle-double-down"></i>
    </a>
  </div>
</div>


<div class="container">
<!-- Skills -->
  <div class="section">
    <p class="title" id="skills">&nbsp;Competences</p>
    <div class="row">
      <div class="skill-logo-div col-lg-2 col-md-3 col-4 mt-3">
        <%= image_tag("ruby.png", class:"img-skill") %>
      </div>
      <div class="skill-logo-div col-lg-2 col-md-3 col-4 mt-3">
        <%= image_tag("js.png", class:"img-skill") %>
      </div>
      <div class="skill-logo-div col-lg-2 col-md-3 col-4 mt-3">
        <%= image_tag("react.png", class:"img-skill") %>
      </div>
      <div class="skill-logo-div col-lg-2 col-md-3 col-4 mt-3">
        <%= image_tag("html.png", class:"img-skill") %>
      </div>
      <div class="skill-logo-div col-lg-2 col-md-3 col-4 mt-3">
        <%= image_tag("css.png", class:"img-skill") %>
      </div>
      <div class="skill-logo-div col-lg-2 col-md-3 col-4 mt-3">
        <%= image_tag("postgre.png", class:"img-skill") %>
      </div>
      <div class="skill-logo-div col-lg-2 col-md-3 col-4 mt-3">
        <%= image_tag("jquery.png", class:"img-skill") %>
      </div>
      <div class="skill-logo-div col-lg-2 col-md-3 col-4 mt-3">
        <%= image_tag("github.png", class:"img-skill") %>
      </div>
      <div class="skill-logo-div col-lg-2 col-md-3 col-4 mt-3">
        <%= image_tag("api.png", class:"img-skill") %>
      </div>
      <div class="skill-logo-div col-lg-2 col-md-3 col-4 mt-3">
        <%= image_tag("bootstrap.png", class:"img-skill") %>
      </div>
      <div class="skill-logo-div col-lg-2 col-md-3 col-4 mt-3">
        <%= image_tag("heroku.png", class:"img-skill") %>
      </div>
    </div>

    <a href="#formation">
      <p class="arrow"><i class="fas fa-angle-double-down p2"></i></p>
    </a>
  </div>


<!-- Formation -->
  <div class="section">
    <p class="title">&nbsp;Formation</p>

    <div class="competences-content">
      <div class="row">
        <div class="container">
          <div class="left-side col-sm">
            <div class="logo-formation-div">
              <%= image_tag("logo-ub.png", class:"logo-formation") %>
            </div>
            <p>Après une licence Administration Economique et Sociale (double compétences droit et économie) j'ai obtenu deux master 1 en droit. En 2018, un master 1 en droit du travail et de la protection sociale, puis en 2019 un master 1 en droit privé général. Ces années à l'université ont développé mon autonomie et ma faculté à appréhender des concepts théoriques. Le droit m'a beaucoup intéressé néanmoins j'ai très vite été attiré par le monde de la tech et plus précisément du développement web.</p>
          </div>

          <div class="right-side col-sm">
            <div class="logo-formation-div">
              <%= image_tag("logo-wagon.png", class:"logo-formation") %>
            </div>
            <p>Formation intensive de 10 semaines (Octobre à Décembre 2019) au <a href="https://www.lewagon.com/" target="_blank">Wagon</a> Bordeaux. J'ai appris Ruby pour le back-end et JavaScript, HTML et CSS pour le front-end. J'ai également travaillé avec des outils que les développeurs utilisent tels que GitHub, SQL, Heroku et bien d'autres. Mais j'ai surtout pu apprendre une méthode de travail efficace aussi bien pour le développeur que pour le client. Je continue à apprendre de nouvelles technologies chaque jour et à perfectionner mes compétences. Au cours de cette formation, j'ai pu réaliser des projets de groupe de bout en bout. Vous pouvez retrouver ces projets sur cette page : suivez les flèches!</p>
          </div>
        </div>
      </div>
    </div>

    <a href="#projects">
      <p class="arrow"><i class="fas fa-angle-double-down p2"></i></p>
    </a>
  </div>

</div>

<!-- Projects -->

<div class="lines">
  <div class="line-left"></div>
  <div class="line-right"></div>
</div>

<div class="section">
  <div id="projects">
    <div class="container">
        <p class="title">&nbsp;Projets</p>
        <div class="container">
          <p class="advice">
            Conseils : Cliquer sur le téléphone / PC pour vous rendre sur les différents sites. Ces créations sont "responsives". Les applications présentées sur un smartphone ont été développées selon le modèle "mobile first". Donc pour une meilleure expérience nous vous conseillons de les consulter au format mobile. Les sites sont, pour certains, hébergés sur un serveur Heroku, il peut y avoir un temps de chargement de 20 secondes. Vous pouvez créer un compte ou vous connecter avec les identifiants suivants : <br>Email : lucas@gmail.com <br> Mot de passe : azerty
          </p>

          <div class="project-content">
            <a href="https://loue-mon-conjoint.herokuapp.com/" target="_blank">
              <%= image_tag("loue_mon_conjoint_tel.png", class:"img-tel") %>
            </a>

            <div class="web-site col-sm">
              <div class="logo-div">
                <a href="https://loue-mon-conjoint.herokuapp.com/" target="_blank">
                  <%= image_tag("LMC-logo.png", class:"logo-lmc") %>
                </a>
              </div>
              <p>Pour ce premier projet de groupe, nous avons décidé de créer une «marketplace», comme Airbnb ou LeBonCoin. S'agissant d'un exercice, le sujet importait peu. Mais techniquement, nous avons appris à permettre aux utilisateurs de créer des offres, d'accepter ou de refuser des demandes, de consulter des annonces et de les réserver. De plus, il existe un système d'identification pour les utilisateurs. Vous remarquerez également l'utilisation d'APIs et en particulier celle de Google Map.</p>
            </div>
          </div>

          <div class="line-project"></div>

          <div class="project-content">
            <a href="https://flashwine.herokuapp.com/" target="_blank">
              <%= image_tag("flash_wine_tel.png", class:"img-tel") %>
            </a>

            <div class="web-site col-sm">
              <div class="logo-div">
                <a href="https://flashwine.herokuapp.com/" target="_blank">
                  <%= image_tag("logo_fw.png", class:"logo-fw") %>
                </a>
              </div>
              <p>Pour ce second projet, toujours réalisé en groupe nous avons développé une application pour permettre d'apprendre le vin rapidement et facilement. Nous avons donc travaillé pour "gamifier" l'apprentissage du vin. J'ai notamment travaillé personnellement sur la partie "quiz" de l'application. Comme précédemment l'utilisateur détient un compte. Il peut également consulter des cours, faire des quiz et gagner de l'expérience en fonction de ses résultats. L'utilisateur peut également commenter, noter des vins ainsi que les partager avec un réseau d'amis qu'il aura constitué.</p>
            </div>
          </div>

          <div class="line-project"></div>

          <div class="project-content">
            <a href="https://parfaites-imperfections.herokuapp.com/" target="_blank">
              <%= image_tag("parfaites_imperfections_pc.png", class:"img-pc") %>
            </a>

            <div>
              <div class="logo-div">
                <a href="https://parfaites-imperfections.herokuapp.com/" target="_blank">
                  <%= image_tag("logo_pi.png", class:"logo-pi") %>
                </a>
              </div>
              <div class="web-site col-sm">
                <p>Il s'agit là d'un projet plus professionnel destiné à être utilisé par un artisan du bassin d'Arcachon qui désir étendre son marché en vendant ses pièces sur internet. Pour ce faire, ce site utilise Stripe. La mise en place de ce système de paiement permet une gestion simplifiée pour l'utilisateur. Ce dernier n'a notamment pas a gérer la conservation et surtout la sécurisation des données de ses clients, puisque c'est Stripe qui s'en occupe. Je vous laisse donc naviguer sur ce site pour découvrir les différentes possibilités qu'il offre.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="bot-lines">
    <div class="bot-line-left"></div>
    <div class="bot-line-right"></div>
  </div>
</div>
<!-- contact -->

<div id="contact" class="container">
  <div class="container">
    <p class="title">&nbsp;Contact</p>
    <p class="text-formation">Pour parler de la faisabilité d'un projet ou demander un devis (gratuit) me contacter par mail s'il vous plait, merci! (tarif développeur junior).</p>

  <!-- Form -->
    <form action="https://formspree.io/xknrbkoa"
    method="POST">

       <label class="form-label">
          <p>Nom</p>
          <input type="text" name="name" class="form-control">
         </label>

        <label class="form-label">
          <p>Email</p>
          <input type="text" name="_replyto" class="form-control">
        </label>

        <label class="form-label">
          <p>Message</p>
          <textarea name="message" class="form-control" rows="6"></textarea>
        </label>

      <div class="center-btn">
        <button type="submit" class="btn">Envoyer</button>
      </div>
    </form>
  </div>
</div>
<!-- Form -->

<!-- <div class="lines">
  <div class="line-left"></div>
  <div class="line-right"></div>
</div> -->
<div class="footer">
  <div class="container">
    <div class="list-contact row">
      <div class="item-contact col-lg-3 col-sm-6">
        <p><i class="fas fa-envelope-open-text icones"></i></p>
        <p>lucas@hotmail.fr</p>
      </div>
      <div class="item-contact col-lg-3 col-sm-6">
        <p><i class="fas fa-mobile-alt icones"></i></p>
        <p>06.99.00.28.60</p>
      </div>
      <div class="item-contact col-lg-3 col-sm-6">
        <p class="link-icone"><a href="https://github.com/DubernardL" style="color: white;" target="blank"><i class="fab fa-github icones"></i></a></p>
        <p>DubernardL</p>
      </div>
      <div class="item-contact col-lg-3 col-sm-6">
        <p class="link-icone"><a href="https://www.linkedin.com/in/lucas-dubernard-bb6721196/" style="color: white;" target="blank"><i class="fab fa-linkedin icones"></i></a></p>
        <p>Dubernard Lucas</p>
      </div>
    </div>
  </div>
</div>




