<!DOCTYPE html>
<html>
  <head>
    <title>Dubernard Lucas Portfolio</title>
    <meta name="description" content="Portfolio Dubernard Lucas developper sites web responsives. Developpeur Full Stack back and front.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- favicon -->
    <%= favicon_link_tag asset_path('logo_portfolio2.png') %>

    <!-- FontAwsome -->
    <script src="https://kit.fontawesome.com/54024468ec.js" crossorigin="anonymous"></script>

    <!-- google-font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600i&display=swap" rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
  </body>
</html>
